*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin-top: 10px;
    
}
.navbar{
    padding-left: 2rem;
    padding-right: 2rem;
}

.search{
    width: 80%;
    height: 40px;
    border-radius: 60px;
    margin-right: -35px;
    outline: none;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: black;
}
.ciao{
    margin-top: 20vh;
    color:white;
    font-size: 4rem;
}

a[name=chkt]{
    color:black;
    text-decoration: none;
    font-weight: bolder;
}
.badge{
   color: white;
   background-color:indianred;
}

.btn0{
    background: lightskyblue;
    border-color: black;
    border-radius: 60px;
    width:40%;
    font-style: italic;
}
.navbar-brand{
    font-size: 2rem;
    color:lightblue;
    margin-left: 2%;
    font-family: 'Brush Script MT', cursive;
}
body{
    background: url(./bgprove/xymap.jpg);
    background-size:cover;
    background-repeat: auto;
}
.main{
    background: url(./bgprove/yveltal.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;    
}


.shop .cart{
    margin-top:1%;
    margin-bottom: 1%;
    margin-right:1%;
    
}

.card{
    margin-top:10px;
    margin-bottom:10px;
    
}


h1[name=mainTitle]{
    font-size: 2rem;
    color:lightblue;
    margin-left: 2%;
    font-family: 'Brush Script MT', cursive;
}
h1[name=loginTitle]{
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

section[name=mainSection]{
    text-align: center;
    background-color: rgb(230, 193, 230);
    border-radius: 20px;
    margin: 0 30%;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

input[type=submit], input[type=reset]{
    margin: 10px 0px 10px 0px;
    
}
section[name=checkoutbtn]{
    margin-top:20px;
    margin-bottom: 20px;
}



