*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.search{
    border: 2px pink;
    width: 80%;
    height: 40px;
    border-radius: 60px;
    margin-right: -35px;
    outline: none;
}
.btn0{
    background: pink;
    border: black;
    border-radius: 60px;
    width:40%;
    font-style: italic;
}
.navbar-brand{
    font-size: 2rem;
    color:lightblue;
    margin-left: 2%;
    font-family: 'Brush Script MT', cursive;
}
.main{
    background: url(./bgprove/prova.jpg);
    background-color: pink;
    background-size: cover;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50vh;
    border:black;
    border: 2px;
    background-repeat: no-repeat;    
}
.main h1{
    color: black;
    font-size: 4rem;
    font: 'Brush Script MT',cursive;
}


main > article{
    margin-top: 20px;
    background-color: red;
}

main > article >section > div > img{
    width:100px;
}

main > article >section > div{
    display: inline-block;
}

main > article >section > h2{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

main > article >section > p{
    vertical-align: top;
    padding-top:5px;
    padding-left:10px;
    font-family: Arial, Helvetica, sans-serif;
}


